{% extends "base.html"%}
{% block content %}
<section class="vh-50" style="background-color: #f4f5f7;">
    <div class="container py-2 h-10">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .2rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img src={{user.image.url}} class="img-fluid my-5" style="width: 100px; border-radius:50%" />
                <h2>{{user.first_name}} {{user.last_name}}</h2>
                <i class="far fa-edit mb-5"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                    <div class="col-6 mb-3">
                      <h3>Email</h3>
                      <p class="text-muted">{{user.email}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h3>Phone</h3>
                      <p class="text-muted">{{user.phone_number}}</p>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
